<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap" rel="stylesheet">
    <style>
        .container {
            background-color: #464646;
            width: 100%;
            padding: 50px;
        }

        .text span {
            color: #f0f8ff;
            font-size: 14px;
            font-family: 'Rubik', sans-serif;
            font-weight: 600;
        }

        .link span {
            font-size: 16px;
            font-family: 'Rubik', sans-serif;
            font-weight: 600;
            color: #e43838;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text">
            <span>Вы или кто-то другой пытается сбросить пароль на сайте: TRY</span> 
            <br>
            <span>Для того, чтобы сбросить пароль — перейдите, пожалуйтса, по ссылке ниже:</span>
        </div>

        <div class="link">
            <span>{{protocol}}://{{domain}}/password/reset/{{token}}</span>
            <br>
            <span>❗ Внимание, ссылка будет недействительна после 10 минут</span>
        </div>
    </div>
</body>
</html>