<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .text span {
            color: rgb(32, 32, 32);
        }

        .text a {
            font-weight: 600;
            color: rgb(32, 32, 32);
        }
    </style>
</head>
<body>
    <div class="text">
        <span>Вы или кто-то другой пытается сбросить пароль на сайте: TRY</span>
        <br>
        <span>Для того, чтобы сбросить пароль — перейдите, пожалуйтса, по ссылке ниже:</span>
        <br>
        <span style="color: rgb(133, 31, 31);">Cсылка будет действительна в течение 5 минут</span>
        <br><br>
        <a href="{{protocol}}://{{domain}}/password/reset/{{token}}">Сбросить</a>
    </div>
</body>
</html>